
{% load static %}
<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover" data-sidebar-image="none" data-preloader="disable">
    
<head>
    <title>{% block title %}Calendar Admin{% endblock %}</title>
    <meta charset="utf-8" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- fullcalendar css -->
    <link href="{% static 'assets/libs/fullcalendar/main.min.css' %}" rel="stylesheet" type="text/css" />

   
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    
 {% block stylesheets %}

{% endblock %} 

</head>

<body>

{% block content %}

{% endblock %}

<!-- javascript  goes -->



{% block javascript %}
{% endblock %}
</body>


</html>